<div class="row">

<h2>Derivation of Linguistic Summaries from Databases</h2>

</div>

<div class="row">

<h3>Linguistic Description of Data</h3>

<% @candidates.each do |filter, summarizer, truth| %>
<p>Most of <%= filter.join(' and ') %> people are <%=Miner.fs_to_s(summarizer) %> : <%=truth.round(2)%></p>
<% end %>

</div>

<div class="row">

<h3>Data Sample</h3>
<table class="table">
	<thead>
		<% Miner.column_names.each do |attr| %>
			<th><%=attr%></th>
		<% end%>
	</thead>
	<tbody>
		<% @sample.each do |person| %>
			<tr>
				<% Miner.column_names.each do |attr| %>
					<td><%=person.send(attr)%></td>
				<% end%>
			</tr>
		<% end %>
	</tbody>
</table>

</div>